* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Hack Nerd Font;*/
    font-family: DejaVu Sans;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.45);
    /*border-bottom: 3px solid rgba(0, 0, 0, 0.9);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/



#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-scratchpad-indicator,
#custom-crypto,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #00CC00;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #aaaaaa;
    }
}

#battery.critical:not(.charging) {
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #ffffff;
}

#cpu {
    color: #ffffff;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #ffffff;
}

#custom-media {
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #ffffff;
}

#mpd {
    color: #ffffff;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #ffffff;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-arch-updates {
    color: #00ff00;
}
