* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.70);
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(200, 200, 200, 0.8);
}

#workspaces button {
    padding: 2px 10px;
    color: #cba6f7;
}

#workspaces button.focused {
    color: #0f0f0f;
    background-color: #c49ec4;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #0f0f0f;
    background-color: #9ec3c4;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #c49ec4;
	color: #0f0f0f;
	border-radius: 15px;
}

#custom-date, #custom-notification, #custom-media, #custom-updates, #custom-downloads , #clock, #battery, #backlight, #battery, #pulseaudio, #network, #workspaces, #tray {
  background-color: rgba(0, 0, 0, 0.70);
	padding: 2px 15px;
	margin-bottom: 5px;
  border-top: 1px solid rgba(200, 200, 200, 0.8);
  border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

#custom-media {
	color: #f9e2af;
}

#custom-notification {
  color: #eb6f92;
}

#tray {
  padding-left: 256px;
  color: #0fff9f
}

#workspaces {
	border-radius: 65px 0px 0px 15px;
  border-left: 1px solid rgba(200, 200, 200, 0.9);
}

#custom-updates {
   color: #9ccfd8;
}

#custom-downloads {
   color: #f6c177;
}

#clock {
  color: #c4a7e7;
  border-radius: 0px 15px 65px 0px;
  margin-left: 0px;
  margin-right: 10px;
  border-right: 1px solid rgba(200, 200, 200, 0.9);
  padding-left: 256px;
}

#network {
	color: #fa7377;
}

#battery {
	color: #0fcfd0;
}

#pulseaudio {
	color: #9cff58;
}

#backlight {
  color: #ff52fa
}
