configuration {
	modi: "drun";
	font: "Hack Nerd Font 14";
	display-drun:    "Applications";
	show-icons: false;
	terminal: "kitty";
	combi-modi: "drun";
	matching: "fuzzy";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "~/.config/rofi/themes/jms-theme.rasi"
