* {
    font-family: FiraCode Nerd Font;
    font-size: 16px;
    min-height: 0;
    color: #FFFFFF
}


window {
        background-color: rgba (0, 0, 0, 0.0);
}

#box-outer {
        /* Define attributes of the box surrounding icons here */
        background-color: rgba (255, 255, 255, 0.0)
}

#box-inner {
        background-color: rgba (0, 0, 0, 0.45);
        border-radius: 8px;
	border-style: dotted;
	border-width: 1px;
	border-color: rgba (0, 0, 0, 0.6);
	padding: 10px
}
